<div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-header text-info text-center">
        <h4> Register Here</h4>
    </div>
    <div class="card-body">
        <form (ngSubmit)="SubmitForm(regisForm)" #regisForm="ngForm">
            <div class="form-group row">
                <label for="FirstName" class="col-sm-5 col-form-label">First Name</label>
                <div class="col-sm-7">
                    <input type="text" ngModel name="FirstName" #name="ngModel" required
                        class="form-control form-control-sm">
                    <small class="form-text text-muted" *ngIf="!name.valid && name.touched">
                        First Name is Required</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="LastName" class="col-sm-5 col-form-label">Last Name</label>
                <div class="col-sm-7">
                    <input type="text" name="LastName" ngModel #LastName="ngModel" required
                        class="form-control form-control-sm">
                    <small class="form-text text-muted" *ngIf="!LastName.valid&&LastName.touched">
                        Last Name is Required</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="Mobile" class="col-sm-5 col-form-label">Mobile</label>
                <div class="col-sm-7">
                    <input type="number" name="Mobile" ngModel #Mobile="ngModel" required
                        class="form-control form-control-sm" aria-describedby="emailHelp">
                    <small class="form-text text-muted" *ngIf="!Mobile.valid && Mobile.touched">
                        Mobile Number is Required</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="Location" class="col-sm-5 col-form-label">Location</label>
                <div class="col-sm-7">
                    <select class="form-control form-control-sm" name="Location" ngModel #location="ngModel">
                        <option *ngFor="let loc of locations" value="{{loc}}">{{loc}}</option>
                    </select>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-sm" [disabled]="!regisForm.valid">Submit</button>
                <button type="reset" class="btn btn-danger btn-sm ml-2" style="margin-left: 2px;">Reset</button>
            </div>
        </form>
    </div>
</div>